{% extends '/base.html.twig' %}

{% block title %}{{ home_title }}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <div id="home" class="page-wrapper">
        {% include 'extendsFiles/header.html.twig' %}
        <div class="hero-video">
            <video preload="metadata" autoplay="" muted="" loop="">
                <source src="http://preview.byaviators.com/template/superlist/assets/img/tmp/video.mp4" type="video/mp4">
            </video>

            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                        <h1>Directory Template</h1>
                        <p>Create your own directory website by using Superlist HTML template <br> incorporating all features of modern directory website.</p>

                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for event, hotel, restaurant, job ... ">
                            <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Search</button>
                    </span>
                        </div><!-- /.input-group -->
                    </div><!-- /.col-* -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.hero-video -->

        <div class="container block-list">
            <div class=" row lists-header">
                <h1 class="col-lg-12">Hand Picked by Superlist</h1>
                <p>Check out the best places &amp; events in the city. Each one is worth<br> of visiting. Experience which you never forget.</p>
            </div><!-- /.page-header -->

            <div class="row lists">
                <div class="col-lg-3">
                    <h1>title List 1</h1>
                    <p>here is short description about this first list .. </p>
                    <a href="#"><button>Detail +</button></a>
                </div>
                <div class="col-lg-3">
                    <h1>title List 1</h1>
                    <p>here is short description about this first list .. </p>
                    <a href="#"><button>Detail +</button></a>
                </div>
                <div class="col-lg-3">
                    <h1>title List 1</h1>
                    <p>here is short description about this first list .. </p>
                    <a href="#"><button>Detail +</button></a>
                </div>
                <div class="col-lg-3">
                    <h1>title List 1</h1>
                    <p>here is short description about this first list .. </p>
                    <a href="#"><button>Detail +</button></a>
                </div>
                <div class="col-lg-3">
                    <h1>title List 1</h1>
                    <p>here is short description about this first list .. </p>
                    <a href="#"><button>Detail +</button></a>
                </div>
                <div class="col-lg-3">
                    <h1>title List 1</h1>
                    <p>here is short description about this first list .. </p>
                    <a href="#"><button>Detail +</button></a>
                </div>
            </div>
        </div>

        <div class="question">
            <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 question-title">
                                <h2>Do You Have Any Questions?</h2>
                        </div>
                        <div class="contact-info col-lg-6">
                            <span class="contact-info-item">
                                <i class="fa fa-at"></i>
                                <span>support@sitename.com</span>
                            </span><!-- /.contact-info-item -->
                            <span class="contact-info-item">
                                <i class="fa fa-phone"></i>
                                <span>+123-456-789</span>
                            </span><!-- /.contact-info-item -->
                        </div><!-- /.contact-info-->
                    </div><!-- /.row -->
                </div>
        </div>
        {% include 'extendsFiles/footer.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}