{% extends 'extendsFiles/base.html.twig' %}

{% block title %}{{ home_title }}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <div id="home" class="page-wrapper">
        {% include 'extendsFiles/header.html.twig' %}
        <h1>Hi There from Home</h1>
        {% include 'extendsFiles/footer.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}