{% extends 'extendsFiles/base.html.twig' %}

{% block title %}{{ home_title }}{% endblock %}

{% block body %}
    <div class="page-wrapper">
        {% include 'extendsFiles/header.html.twig' %}

        {% include 'extendsFiles/footer.html.twig' %}
    </div>
{% endblock %}
