// bootstrap ...
@import '~bootstrap';

// superList ...
@import 'components/superlist';

//layout ...
@import 'layout/header';
@import 'layout/footer';



#admin
{
  .header
  {
    .nav
    {
      li:nth-child(3)
      {
        border-bottom: 4px solid $color-secondary;
        a
        {
          color: $color-secondary;
        }
      }
    }
  }

}