// bootstrap ...
@import '~bootstrap';

// superList ...
@import 'components/superlist';

//layout ...
@import 'layout/header';
@import 'layout/footer';

#detail
{
  .provider
  {
    height: 10rem;
    h1
    {
      padding: 5rem auto;
    }
  }
  .container
  {
    .card
    {
      margin: 5rem auto;

      .card-title
      {
        font-weight: 900;
        font-size: 30px;
        margin: 2rem auto;
      }
      .card-text
      {
        font-weight: 600;
        font-size: 25px;
      }
    }
  }
}