.header {
  display: table-row;
  height: 1px;
  background-color: #3c763d; }

.header-minimal .container-fluid {
  padding: 0px !important; }

.header-wrapper {
  background-color: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0px;
  position: relative;
  z-index: 200; }
  .header-transparent .header-wrapper {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: none; }

.header-inner {
  display: table;
  position: relative;
  width: 100%; }

.header-logo {
  display: table-cell;
  padding: 0px 45px 0px 0px;
  vertical-align: middle;
  white-space: nowrap;
  width: 1px; }
  .header-logo a {
    color: #363636; }
    .header-logo a:active, .header-logo a:focus, .header-logo a:hover {
      color: #363636;
      text-decoration: none; }
      .header-transparent .header-logo a:active, .header-transparent .header-logo a:focus, .header-transparent .header-logo a:hover {
        color: #fff; }
    .header-transparent .header-logo a {
      color: #fff; }
  .header-logo span {
    font-size: 22px;
    font-weight: 300;
    vertical-align: middle; }
    @media (min-width: 750px) and (max-width: 1200px) {
      .header-logo span {
        display: none; } }
  .header-logo img {
    fill: #009f8b;
    color: #009f8b;
    margin: 0px 10px 0px 0px;
    vertical-align: middle; }
    .header-transparent .header-logo img {
      fill: #fff; }
  .header-minimal .header-logo {
    height: 80px;
    padding: 0px;
    text-align: center;
    width: 80px; }
    .header-minimal .header-logo img, .header-minimal .header-logo svg {
      margin: 0px; }

.header-content {
  display: table-cell;
  vertical-align: middle; }
  .header-content .nav {
    float: right;
    padding: 12px 0px; }
    .header-minimal .header-content .nav {
      float: left; }
    @media (min-width: 750px) {
      .header-content .nav > li {
        margin: 0px; }
        .header-content .nav > li > a {
          border-radius: 0px;
          color: #363636;
          font-size: 13px;
          padding: 6px 20px; }
          .header-minimal .header-content .nav > li > a {
            padding: 31px 20px; }
          .header-transparent .header-content .nav > li > a {
            color: #fff; }
          .header-content .nav > li > a:hover {
            background-color: transparent;
            color: #c6af5c; }
            .header-transparent .header-content .nav > li > a:hover {
              color: #fff; }
          .header-content .nav > li > a:active, .header-content .nav > li > a:focus {
            background-color: transparent; }
        .header-content .nav > li.active > a {
          background-color: transparent;
          color: #c6af5c; }
          .header-transparent .header-content .nav > li.active > a {
            color: #fff; }
        .header-content .nav > li:hover > a {
          color: #c6af5c !important; }
        .header-content .nav > li:hover > .sub-menu, .header-content .nav > li:hover > .mega-menu {
          opacity: 1;
          transition: opacity .15s linear;
          visibility: visible; }
        .header-content .nav > li .sub-menu {
          background-color: #fff;
          border: 1px solid #e9e9e9;
          display: block;
          left: 0;
          list-style: none;
          margin: 0px;
          opacity: 0;
          padding: 0px;
          position: absolute;
          visibility: hidden;
          width: 220px;
          z-index: 10; }
          .header-content .nav > li .sub-menu li {
            border-bottom: 1px solid #e9e9e9; }
            .header-content .nav > li .sub-menu li a {
              color: rgba(54, 54, 54, 0.6);
              display: block;
              font-size: 11px;
              padding: 10px 20px;
              text-transform: uppercase;
              transition: all .15s linear;
              white-space: nowrap; }
              .header-content .nav > li .sub-menu li a:hover {
                background-color: #fafafa;
                color: #c6af5c;
                text-decoration: none; }
            .header-content .nav > li .sub-menu li:last-child {
              border-bottom: 0px; }
            .header-content .nav > li .sub-menu li .fa {
              color: #363636;
              display: block;
              float: right;
              position: absolute;
              right: 10px;
              top: 12px; }
            .header-content .nav > li .sub-menu li:hover > a {
              color: #c6af5c; }
            .header-content .nav > li .sub-menu li:hover > .sub-menu {
              left: 224px;
              margin: 0px;
              opacity: 1;
              top: -1px;
              transition: opacity .15s linear;
              visibility: visible; }
              .header-content .nav > li .sub-menu li:hover > .sub-menu:before {
                background-color: transparent;
                bottom: 0px;
                content: '';
                display: block;
                height: 100%;
                left: -6px;
                position: absolute;
                top: 0px;
                width: 6px; }
        .header-content .nav > li.has-mega-menu {
          position: inherit; }
        .header-content .nav > li .mega-menu {
          background-color: #fff;
          border: 1px solid #e9e9e9;
          display: table;
          left: 0px;
          list-style: none;
          opacity: 0;
          padding: 20px;
          position: absolute;
          right: 0px;
          visibility: hidden;
          width: 100%; }
          .header-content .nav > li .mega-menu > li {
            display: table-cell;
            padding: 5px 0px;
            position: relative;
            vertical-align: top;
            width: 25%; }
            .header-content .nav > li .mega-menu > li:after {
              background-color: rgba(0, 0, 0, 0.05);
              bottom: 0px;
              content: '';
              display: block;
              height: 100%;
              margin: 0px 20px 0px 0px;
              position: absolute;
              right: 0px;
              top: 0px;
              width: 1px; }
            .header-content .nav > li .mega-menu > li:last-child:after {
              display: none; }
            .header-content .nav > li .mega-menu > li > a {
              color: #363636 !important;
              color: rgba(54, 54, 54, 0.6);
              display: block;
              font-size: 14px;
              margin: 0px;
              padding: 0px; }
            .header-content .nav > li .mega-menu > li ul {
              list-style: none;
              margin: 10px 0px 0px 0px;
              padding: 0px; }
              .header-content .nav > li .mega-menu > li ul a {
                color: rgba(54, 54, 54, 0.6);
                display: block;
                font-size: 11px;
                line-height: 34px;
                text-transform: uppercase; }
                .header-content .nav > li .mega-menu > li ul a:hover {
                  color: #c6af5c; } }
    @media (max-width: 1200 px) {
      .header-content .nav {
        background-color: #fff;
        float: none;
        left: -15px;
        margin-top: 62px;
        padding: 0px;
        position: absolute;
        right: -15px;
        z-index: 99999; }
        .header-minimal .header-content .nav {
          padding-left: 15px;
          padding-right: 15px; }
        .header-content .nav li {
          display: block;
          margin: 0px;
          float: none; }
          .header-content .nav li.active a {
            background-color: #fff; }
            .header-content .nav li.active a:hover {
              color: #c6af5c; }
          .header-content .nav li a {
            border-bottom: 1px solid #f7f8f9;
            border-radius: 0px;
            color: #363636;
            display: block;
            float: none;
            font-size: 13px;
            padding: 10px 20px !important;
            transition: all .15s linear; }
            .header-content .nav li a .fa {
              float: right;
              margin: 5px 0px 0px 0px;
              transform: rotate(-90deg);
              -webkit-transform: rotate(-90deg); }
            .header-content .nav li a:hover {
              color: #c6af5c; }
          .header-content .nav li > ul {
            display: none;
            margin: 0px;
            padding: 0px; }
            .header-content .nav li > ul > li {
              background-color: rgba(0, 0, 0, 0.03) !important; }
              .header-content .nav li > ul > li a {
                background-color: transparent !important; }
          .header-content .nav li:hover > ul {
            display: block; } }

.header-nav-primary.nav {
  padding: 0px; }
  .header-nav-primary.nav .fa {
    font-size: 8px;
    margin-left: 10px;
    vertical-align: 2px; }
  .header-nav-primary.nav > li > a {
    padding: 20px 17px; }
  .header-nav-primary.nav > li:last-child > a {
    padding-right: 0px; }

.header-nav-secondary.nav > li > a {
  color: #b6b7b8;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px; }

.header-nav-social.nav {
  margin: 2px 20px 0px 5px; }

.header-top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 6px 0px 2px 0px; }
  @media (max-width: 1200 px) {
    .header-top {
      display: none; } }

.header-search {
  float: right;
  margin: 8px 0px 0px 0px;
  width: 260px; }
  .header-search input {
    height: 34px; }
  .header-search .btn {
    border-radius: 0px;
    border: 2px solid #f7f8f9;
    border-left: 0px;
    font-size: 13px;
    margin-left: -2px !important;
    transition: all .15s linear; }
    .header-search .btn:hover {
      background-color: #f7f8f9; }
    .header-search .btn:active, .header-search .btn:focus {
      box-shadow: none;
      outline: 0px; }

.header-action {
  float: right;
  margin: 14px 0px 14px 30px; }
  @media (max-width: 1200 px) {
    .header-action {
      display: none; } }

.header-action-inner {
  background-color: #009f8b;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 12px;
  height: 30px;
  line-height: 32px;
  text-align: center;
  transition: all .3s linear;
  width: 30px; }
  .header-action-inner i {
    color: #fff; }
  .header-action-inner:hover {
    color: #fff;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg); }

.navbar-toggle {
  border: 1px solid #444;
  border-radius: 0px;
  float: right;
  margin: 14px 0px; }
  .navbar-toggle .icon-bar {
    background-color: #444; }
  .header-transparent .navbar-toggle {
    border: 1px solid #fff; }
    .header-transparent .navbar-toggle .icon-bar {
      background-color: #fff; }
  .header-minimal .navbar-toggle {
    margin-right: 15px; }

/*# sourceMappingURL=header.css.map */
