// bootstrap ...
@import '~bootstrap';

// superList ...
@import 'components/superlist';

//layout ...
@import 'layout/header';
@import 'layout/footer';

#home
{
  .header
  {
    .nav
    {
      li:first-child
      {
        border-bottom: 4px solid $color-secondary;
        a{
          color: $color-secondary;
        }
      }
    }
  }
  .slider
  {
    margin-top: 3rem;
    .cat-title
    {
      color: $color-secondary;
      font-weight: bolder;
      font-size: 35px;
    }
    .cat-index
    {
      color: $color-primary;
      font-weight: bolder;
      font-size: 33px;
    }
    .cat-description
    {
      font-weight: 700;
      font-size: 30px;
      padding: 3rem 0.5rem;
      line-height: 1.5;
    }
  }
  .container
  {
    .row
    {
      justify-content: center;
    }
  }
  .block-list{
    justify-content: center;
    text-align: center;
    margin: 3rem auto;
    .lists{
     flex-wrap: wrap;
      >div{
        line-height: 2;
        background-color: $color-black-light;
        margin: 0.5rem;
        padding: 2rem;
        box-shadow: 10px 10px 20px;
        &:hover{
          transition: all 0.5s;
          box-shadow: 15px 15px 20px $color-black-light;
          background-color: $color-secondary;
          transform: scaleX(1.05);
          .list-title
          {
            color: $color-black;
            font-weight: 900;
            font-size: 25px;
          }
          .list-email
          {
            color: $color-primary;
            font-weight: 700;
            font-size: 20px;
          }
          .list-num-tel, .list-site
          {
            font-weight: 500;
            font-size: 18px;
            color: $color-black-light;
          }
        }
        .list-title
        {
          color: $color-secondary;
          font-weight: 900;
          font-size: 25px;
        }
        .list-email
        {
          color: $color-gray;
          font-weight: 700;
          font-size: 20px;
        }
        .list-num-tel, .list-site
        {
          color: $color-primary-light;
          font-weight: 500;
          font-size: 18px;

        }
        button{
          background-color: $color-primary;
          border: 0;
          color: white;
          font-size: 15px;
          font-weight: 500;
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  .question{
    background-color: $color-secondary;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;
    .row{
      .question-title{
        h2{
          margin-bottom: 5px;
        }
      }
      .contact-info{
        display: flex;
        justify-content: flex-end;
        font-size: 1rem;
        span{
          margin: auto 1rem;
        }
      }
    }
  }
}
