// bootstrap ...
@import '~bootstrap';

// superList ...
@import 'components/superlist';

//layout ...
@import 'layout/header';
@import 'layout/footer';



#login
{
  .header
  {
    .nav
    {
      li:nth-child(5)
      {
        border-bottom: 4px solid $color-secondary;
        a{
          color: $color-secondary;
        }
      }
    }
  }
  form
  {
    margin: 2rem;
    h1
    {
      font-weight: bolder;
      color: $color-black;
      margin: 3rem;
      font-size: 50px;
    }
  }

}