// bootstrap ...
@import '~bootstrap';

// superList ...
@import 'components/superlist';

//layout ...
@import 'layout/header';
@import 'layout/footer';



#login
{
  height: 100%;
  .header
  {
    .nav
    {
      li:nth-child(5)
      {
        border-bottom: 4px solid $color-secondary;
        a{
          color: $color-secondary;
        }
      }
    }
  }
  form
  {
    margin: 2rem;
    h1
    {
      font-weight: bold;
      color: $color-black;
      margin: 2rem;
      font-size: 40px;
    }
    b
    {
      font-size: 50px;
      color: $color-secondary;
    }
    label
    {
      margin: 2rem;
      font-size: 18px;
      font-weight: bolder;
      color: $color-secondary;
    }
    input
    {
      border: 0px;
      border-bottom: 1px solid #ccc;
      height: 4rem;
    }
    button
    {
      margin: 3rem 0rem;
    }
  }

}