{% extends '/base.html.twig' %}

{% block title %}{{ admin_title }}{% endblock %}

{% block body %}
    <div id="admin" class="page-wrapper">
        {% include 'extendsFiles/header.html.twig' %}
        <h1>Hi There from Admin</h1>
        {% include 'extendsFiles/footer.html.twig' %}
    </div>
{% endblock %}
