{% extends '/base.html.twig' %}

{% block title %}{{ login_title }}{% endblock %}

{% block body %}
    <div id="login" class="page-wrapper">
        {% include 'extendsFiles/header.html.twig' %}
        <h1>Hi There from Login</h1>
        {% include 'extendsFiles/footer.html.twig' %}
    </div>
{% endblock %}
