<header class=" header header-transparent">
    <div class="header-wrapper">
        <div class="container">
            <div class="header-inner">
                <div class="header-logo">
                    <a href="{{ path('Home') }}">
                        <img src="{{ asset('build/images/logo-white.png') }}" alt="Logo">
                        <span>{{ superlist }}</span>
                    </a>
                </div><!-- /.header-logo -->
                <div class="header-content">
                    <div class="header-bottom dropdown">
                        {{ render(controller('App\\Controller\\MenuController::menu')) }}
                    </div><!-- /.header-bottom -->
                </div><!-- /.header-content -->
            </div><!-- /.header-inner -->
        </div><!-- /.container -->
    </div><!-- /.header-wrapper -->
</header><!-- /.header -->