{% extends '/base.html.twig' %}

{% block title %}{{ contact_title }}{% endblock %}

{% block body %}
    <div id="contact" class="page-wrapper">
        {% include 'helpers/_header.html.twig' %}
        <h1>Hi There from Contact</h1>
        {% include 'helpers/_footer.html.twig' %}
    </div>
{% endblock %}
