{% extends '/base.html.twig' %}

{% block title %}{{ contact_title }}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}
{% block body %}
    <div id="contact">
        {% block header %}
            {% include 'helpers/_header.html.twig' %}
        {% endblock %}
        <h1>Hi There from Contact</h1>
        {% block footer %}
            {% include 'helpers/_footer.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}
