{% extends '/base.html.twig' %}

{% block title %}{{ app.user.username}}!{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('userProfile') }}
{% endblock %}
{% block body %}
    <div id="profile">
        {% block header %}
            {% include 'helpers/_header.html.twig' %}
        {% endblock %}
        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-lg-3">
                            <div class="sidebar">
                                <div class="widget">
                                    <div class="user-photo">
                                        <a href="#">
                                            <img src="{{ asset('build/images/tmp/agent-2.jpg') }}" alt="User Photo">
                                            <span class="user-photo-action">Click here to reupload</span>
                                        </a>
                                    </div><!-- /.user-photo -->
                                </div><!-- /.widget -->


                                <div class="widget">
                                    <ul class="menu-advanced">
                                        <li class="active"><a href="#"><i class="fa fa-user"></i> Edit Profile</a></li>
                                        <li><a href="{{ path('app_logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>
                                    </ul>
                                </div><!-- /.widget -->

                            </div><!-- /.sidebar -->
                        </div><!-- /.col-* -->

                        <div class="col-sm-8 col-lg-9">
                            <div class="content">
                                <div class="page-title">
                                    <h1>Edit Profile</h1>
                                </div><!-- /.page-title -->

                                <div class="background-white p20 mb30">
                                    <h3 class="page-title">
                                        Contact Information
                                        <a href="#" class="btn btn-primary btn-xs pull-right">Save</a>
                                    </h3>

                                    <form action="" class="row">
                                        <div class="form-group col-sm-6">
                                            <label>Name</label>
                                            <input type="text" class="form-control" value="John">
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-6">
                                            <label>Surname</label>
                                            <input type="text" class="form-control" value="Doe">
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-6">
                                            <label>E-mail</label>
                                            <input type="text" class="form-control" value="sample@example.com">
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-6">
                                            <label>Phone</label>
                                            <input type="text" class="form-control" value="123-456-789">
                                        </div><!-- /.form-group -->
                                    </form><!-- /.row -->
                                </div>

                                <div class="background-white p20 mb30">
                                    <h3 class="page-title">
                                        Address
                                        <a href="#" class="btn btn-primary btn-xs pull-right">Save</a>
                                    </h3>

                                    <form action="" class="row">
                                        <div class="form-group col-sm-6">
                                            <label>State</label>
                                            <input type="text" class="form-control" value="New York">
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-6">
                                            <label>City</label>
                                            <input type="text" class="form-control" value="New York City">
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-6">
                                            <label>Street</label>
                                            <input type="text" class="form-control" value="Everton Eve">
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-3">
                                            <label>House Number</label>
                                            <input type="text" class="form-control" value="123">
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-3">
                                            <label>ZIP</label>
                                            <input type="text" class="form-control" value="12345">
                                        </div><!-- /.form-group -->
                                    </form><!-- /.row -->
                                </div>
                            </div><!-- /.content -->
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.main-inner -->
        </div><!-- /.main -->
        {% block footer %}
            {% include 'helpers/_footer.html.twig' %}
        {% endblock %}
    </div>

{% endblock %}
